<div class="container">
    <h2>Atualizar produto</h2>
    <form [formGroup]="productForm" (ngSubmit)="updateProduct()">

        <!-- Campo para inserir o link da imagem -->
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Link da Imagem</mat-label>
            <input matInput type="text" placeholder="Cole o link da imagem" formControlName="imageUrl" />
        </mat-form-field>

        <!-- Preview da Imagem via Link -->
        <div *ngIf="productForm.get('imageUrl')?.value" class="image-preview">
            <div class="circle-image">
                <img [src]="productForm.get('imageUrl')?.value" alt="Imagem do produto" class="preview-image">
            </div>
        </div>

        <!-- Categoria -->
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Selecione uma categoria</mat-label>
            <mat-select formControlName="categoryId" name="categoryId">
                <mat-option *ngFor="let category of listOfCategories" [value]="category.id">
                    {{category.name}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="productForm.get('categoryId')?.hasError('required')">
                Este campo é obrigatório !!
            </mat-error>
        </mat-form-field>

        <!-- Nome -->
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Nome</mat-label>
            <input matInput type="text" placeholder="Nome" formControlName="name" />
            <mat-error *ngIf="productForm.get('name')?.hasError('required')">
                Este campo é obrigatório
            </mat-error>
        </mat-form-field>

        <!-- Preço -->
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Preço</mat-label>
            <input matInput type="number" placeholder="Preço" formControlName="price" />
            <mat-error *ngIf="productForm.get('price')?.hasError('required')">
                Este campo é obrigatório
            </mat-error>
        </mat-form-field>

        <!-- Descrição -->
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Descrição</mat-label>
            <textarea matInput placeholder="Descrição" formControlName="description"></textarea>
            <mat-error *ngIf="productForm.get('description')?.hasError('required')">
                Este campo é obrigatório
            </mat-error>
        </mat-form-field>

        <!-- Botão de Atualizar -->
        <button mat-raised-button color="primary" type="submit">Atualizar Produto</button>
    </form>
</div>