<div *ngIf="cartItems.length > 0; else carrinhoVazio">
  <div class="cart-container">
    <div class="cart-items" *ngFor="let item of cartItems">
      <div class="product-info">
        <div class="product-image">
          <img [src]="item.imageUrl" alt="imagem-processada" />
        </div>
        <div class="product-details">
          <div class="item-rows">
            <div class="item-name" [ngClass]="{'highlight': item.highlighted}">
              {{item.productName}}
            </div>
            <div class="item-price">{{item.price | currency:'BRL'}}</div>
            <div class="quantity-controls">
              <button mat-icon-button [disabled]="item.quantity < 2" (click)="decreaseQuantity(item.productId)">
                <mat-icon>remove_circle_outline</mat-icon>
              </button>
              <span class="quantity">{{item.quantity}}</span>
              <button mat-icon-button (click)="increaseQuantity(item.productId)">
                <mat-icon>add_circle_outline</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="total-price">
      Valor Total: {{order.totalAmount | currency:'BRL'}}
    </div>
    <div class="total-price">
      Subtotal: {{order.amount | currency:'BRL'}}
    </div>
    <div class="total-price" *ngIf="order.couponName != null">
      Cupom Aplicado: {{order.couponCode}}
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="placeOrder()">Finalizar Pedido</button>
    </div>
  </div>
  <div class="container" *ngIf="order.couponName == null">
    <form [formGroup]="couponForm" (ngSubmit)="applyCoupon()">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Código do Cupom</mat-label>
        <input matInput type="text" placeholder="Digite o código" formControlName="code">
        <mat-error *ngIf="couponForm.get('code')?.hasError('required')">Este campo é obrigatório!</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Aplicar Cupom</button>
    </form>
  </div>
</div>

<ng-template #carrinhoVazio>
  <div class="empty-cart">
    <mat-icon class="icon">remove_shopping_cart</mat-icon>
    <span>Nada por aqui.</span>
  </div>
</ng-template>