<div class="container">
  <h2>Adicionar Produto</h2>
  <form [formGroup]="productForm" (ngSubmit)="addProduct()">
    <!-- Campo para link da imagem -->
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Link da Imagem</mat-label>
      <input matInput type="text" placeholder="Link da Imagem" formControlName="imageUrl" />
      <mat-error *ngIf="productForm.get('imageUrl')?.hasError('required')">
        Este campo é obrigatório
      </mat-error>
    </mat-form-field>

    <!-- Visualização da Imagem -->
    <div *ngIf="productForm.get('imageUrl')?.value || imagePreviewUrl">
      <h3>Pré-visualização da Imagem:</h3>
      <img [src]="productForm.get('imageUrl')?.value" alt="Imagem do Produto"
        style="max-width: 300px; max-height: 300px;">
    </div>

    <!-- Campo para selecionar categoria -->
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Selecione uma Categoria</mat-label>
      <mat-select formControlName="categoryId">
        <mat-option *ngFor="let category of listOfCategories" [value]="category.id">
          {{ category.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="productForm.get('categoryId')?.hasError('required')">
        Este campo é obrigatório!
      </mat-error>
    </mat-form-field>

    <!-- Outros campos -->
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Nome</mat-label>
      <input matInput type="text" placeholder="Nome" formControlName="name" />
      <mat-error *ngIf="productForm.get('name')?.hasError('required')">
        Este campo é obrigatório
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Preço</mat-label>
      <input matInput type="number" placeholder="Preço" formControlName="price" />
      <mat-error *ngIf="productForm.get('price')?.hasError('required')">
        Este campo é obrigatório
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Descrição</mat-label>
      <textarea matInput placeholder="Descrição" formControlName="description"></textarea>
      <mat-error *ngIf="productForm.get('description')?.hasError('required')">
        Este campo é obrigatório
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Adicionar Produto</button>
  </form>
</div>