<div *ngIf="!isCustomerLoggedIn && !isAdminLoggedIn">
  <mat-toolbar class="navbar" color="primary">
    <span class="navbar-brand">AL Lingerie</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/order" routerLinkActive="active">Rastrear Pedido</button>
    <button mat-button routerLink="/signup" routerLinkActive="active">Registrar</button>
    <button mat-button routerLink="/login" routerLinkActive="active">Entrar</button>
  </mat-toolbar>
</div>

<div *ngIf="isAdminLoggedIn">
  <mat-toolbar class="navbar" color="primary">
    <span class="navbar-brand">AL Lingerie</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/admin/dashboard" routerLinkActive="active">Painel</button>
    <button mat-button routerLink="/admin/analytics" routerLinkActive="active">Análises</button>
    <button mat-button routerLink="/admin/category" routerLinkActive="active">Categoria</button>
    <button mat-button routerLink="/admin/product" routerLinkActive="active">Produto</button>
    <button mat-button routerLink="/admin/orders" routerLinkActive="active">Pedidos</button>
    <button mat-button routerLink="/admin/post-coupon" routerLinkActive="active">Publicar Cupom</button>
    <button mat-button routerLink="/admin/coupons" routerLinkActive="active">Cupons</button>
    <button mat-button routerLinkActive="active" (click)="logout()">Sair</button>
  </mat-toolbar>
</div>

<div *ngIf="isCustomerLoggedIn">
  <mat-toolbar class="navbar" color="primary">
    <span class="navbar-brand">AL Lingerie</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/customer/dashboard" routerLinkActive="active">Painel</button>
    <button mat-button routerLink="/customer/cart" routerLinkActive="active">Carrinho</button>
    <button mat-button routerLink="/customer/my_orders" routerLinkActive="active">Pedidos</button>
    <button mat-button routerLink="/customer/wishlist" routerLinkActive="active">Lista de Desejos</button>
    <button mat-button routerLink="/customer/profile" routerLinkActive="active">Perfil</button>
    <button mat-button routerLinkActive="active" (click)="logout()">Sair</button>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>