<form [formGroup]="searchOrderForm" (submit)="submitForm()" class="search-form">
  <mat-form-field appearance="outline" class="search-input">
    <mat-label>Digite o ID de Rastreamento para buscar</mat-label>
    <input matInput formControlName="trackingId">
    <button mat-raised-button matSuffix color="primary" [disabled]="searchOrderForm.invalid">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</form>

<div class="order-details-container" *ngIf="order">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Detalhes do Pedido</mat-card-title>
    </mat-card-header>

    <div class="order-detail">
      ID de Rastreamento: <strong>{{order.trackingId}}</strong>
    </div>
    <div class="order-detail">
      Nome do Usuário: <strong>{{order.userName}}</strong>
    </div>
    <div class="order-detail">
      Endereço: <strong>{{order.address}}</strong>
    </div>
    <div class="order-detail">
      Valor: <strong>{{order.amount | currency}}</strong>
    </div>
    <div class="order-detail">
      Data: <strong>{{order.date | date}}</strong>
    </div>
  </mat-card>
</div>