<div class="container">
  <form [formGroup]="formularioBuscaProduto" (ngSubmit)="enviarFormulario()">
    <mat-form-field appearance="outline">
      <mat-label>Buscar Produto</mat-label>
      <input matInput formControlName="titulo" placeholder="Título do Produto">
      <mat-error *ngIf="formularioBuscaProduto.get('titulo')?.hasError('required')">
        Este campo é obrigatório
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Buscar</button>
  </form>

  <div *ngIf="produtos.length > 0">
    <h2>Produtos</h2>
    <div *ngFor="let produto of produtos" class="produto-card">
      <h3>{{ produto.name }}</h3>
      <img [src]="produto.processedImg" alt="Imagem do Produto" class="produto-imagem">
      <!-- Outros dados do produto -->
      <button (click)="adicionarAoCarrinho(produto.id)">Adicionar ao Carrinho</button>
    </div>

  </div>
</div>